ul.rules_token li {display:inline-block;}
ul.rules_token li span {	
  font-family: inherit;
  font-size: 100%;
  margin-right:10px;
  padding: .5em 1em;
  color: #444;
  color: rgba(0,0,0,.8);
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  line-height:40px;
}